
<h1>Home page</h1>

<p><%= link_to  "Show about_path", about_path %></p>


<script src="<%= asset_path 'alert.js' %>"></script>

<button class="btn btn-primary btn-large" onclick="add_to_cart()">Добавить в корзину</button>



<!---<script type="text/javascript">
function something()
{
	alert('Hello everyone!');
}

</script>
--->
