<h2>About Page</h2>

<%= javascript_include_tag "alert.js", "data-turbolinks-track" => true  %>

<button class="btn btn-primary btn-large" onclick="add_to_cart()">Добавить в корзину</button>



<!---
<script type="text/javascript">
function something()
{
	alert('Hello everyone!');
}

</script>
--->
